.container
  background-color: white
  padding: 24px

button
  border: 0;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100%;
  color: white;
  background-color: #663399;
  margin-top: 1rem;
  &:hover 
    background-color: #542C85;
    cursor: pointer;

h1 
  color: #848484;
  border-bottom: 1px solid #f0f0f0;
  text-transform: uppercase;

p
  color: #7f7c82;

a
  color: white;
  font-weight: 400;
  text-decoration: none;

.powered__by 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  p
    margin-right: 5%;